table {
    width: 100%;
  }


  .note-followup {
    margin-top: 0;
  }
  .mat-dialog-container .mat-dialog-content {
    background-color: #fff;
  }
  .mat-dialog-container .mat-dialog-actions {
    background: #fff;
    border-radius: 0 0 10px 10px;
  }

  .note-followup {
    margin-top: 10px;
    .showhide-padding {
      padding: 7px 25px;
    }
  }



.close {
    padding-right: 8px 15px;
  }


  .full-width{
    
    width: 100%;
    padding-right: 10px;
    padding-left: 15px;

  }


  .close-button{
    float: right;
    top:-24px;
    right:-24px;
  }
  
  .close-icon {
    transition: 1s ease-in-out;
  }


  .mat-dialog-container h4 {
    font-size: 18px;
    font-weight: 400;
    margin: 0;
    padding: 20px;
    border-bottom: 1px solid #ddd;
}
  