<!-- <p>inventorylist works!</p> -->

<nav class="navbar navbar-light bg-primary">
    <div class="container-fluid">
        <h3 style="color:aliceblue"> Shop Bridge</h3>

        <div class="d-flex">
            <button class="btn btn-success" type="button" (click)="Addnewaccount(addaccount)">Add Inventory</button>

        </div>

    </div>

</nav>

<div class="row">

<div class="col-md-12">
    <mat-table #table [dataSource]="dataSource" matSort class="mat-elevation-z8 ">
        <!-- First Column ID-->
        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
           <mat-cell *matCellDef="let element;let i = index;"> {{ element.id }} </mat-cell> 
        </ng-container>

      
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
           <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell> 
        </ng-container>

        
        <ng-container matColumnDef="description">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Description </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.description}} </mat-cell> 

        </ng-container>

        <ng-container matColumnDef="price">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Price </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.price}} </mat-cell> 

        </ng-container>

        <ng-container matColumnDef="edit">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Action </mat-header-cell>
          <mat-cell *matCellDef="let element ; let i = index;">
             
            <button mat-button type="button" (click)="update(addaccount,element)" matTooltip="Edit" matTooltipClass="mat1">
                <img src="/assets/edit.svg" />
              </button>
            <button mat-button type="button" (click)="delete(element.id)" matTooltip="Delete" matTooltipClass="mat1">
              <img src="/assets/delete.svg" />
            </button>
           </mat-cell> 

        </ng-container>
    

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>

      <mat-paginator #TableOnePaginator="matPaginator" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>

</div>

<ng-template #addaccount>
    

 <h4 class="mat-dialog-title">{{title}}<img src="/assets/close.svg" align="end" class="close-button" (click)="close()">

</h4>
 <div class="note-followup">
  
   <form autocomplete="off" #addform="ngForm" (submit)="onSubmit(addform)">
     <mat-dialog-content>
       <div class="row">
        <input type="hidden" name="id" #id="ngModel" [(ngModel)]="local_data.id" class="form-control">     
        <div class="col-md-12">
            <div class="">
              <mat-form-field  appearance="outline" class="full-width" hideRequiredMarker="false" floatLabel="true" >
                <input matInput placeholder="name" width="350"   name="itemname" #itemname="ngModel" [(ngModel)]="local_data.name" required>
                 <mat-error *ngIf="itemname.invalid" [ngClass]="'error'">
                  Name is required</mat-error> 
              </mat-form-field>
            </div>
          </div>

          <div class="col-md-12">
            <div class="">
              <mat-form-field  appearance="outline" class="full-width" hideRequiredMarker="false" floatLabel="true" >
                <input matInput placeholder="description" width="350"   name="description" #description="ngModel" [(ngModel)]="local_data.description" required>
                 <mat-error *ngIf="description.invalid" [ngClass]="'error'">
                  Description is required</mat-error> 
              </mat-form-field>
            </div>
          </div>

          <div class="col-md-12">
            <div class="">
              <mat-form-field  appearance="outline" class="full-width" hideRequiredMarker="false" floatLabel="true" >
                <input matInput placeholder="Price" width="350"  pattern="[0-9]+" maxlength="10"   name="price" #price="ngModel" [(ngModel)]="local_data.price" required>
                 <mat-error *ngIf="price.invalid" [ngClass]="'error'">
            
                  <mat-error *ngIf="price.errors.required">Price is required</mat-error>
                  <mat-error *ngIf="price.errors.pattern">Price must be numbers</mat-error>
                </mat-error> 
              </mat-form-field>
            </div>
          </div>



       </div>
              
   
 
     </mat-dialog-content>
     <mat-dialog-actions align="start">
       <button mat-raised-button color="primary" type="submit" >Submit</button>
       <button mat-raised-button type="button"  (click)="close()" >Cancel</button>
     </mat-dialog-actions>
   </form>
 </div> 
</ng-template>